@page
	<style>
		.error {
			color: red;
		}
	</style>
	<div class="container">
		<div class="row">
			<div class="col-8">
				<div class="row">
					<form id="createSessionForm" method="post">
						<div class="form-group row">
							<div class="col-4">User Id</div>
							<div class="col-8">
								<input type="text" id="userId" name="userId" class="form-control" required />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-4">User Name</div>
							<div class="col-8">
								<input type="text" id="userName" name="userName" class="form-control" required />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-12">
								<button type="submit" id="sendButton" class="btn btn-primary">Get Session Id</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-4">
				<div class="row">
					<div class="alert alert-primary" role="alert">
						<span id="sessionIdBox">Get Your session id to connect.</span>
						<span id="expiryTimerBox" class="font-weight-bold"></span>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<br />
		<div class="row">
			<div class="col-2">
				<div class="row">
					<button id="connectBtn" class="btn btn-primary">Connect</button>
				</div>
			</div>
			<div class="col-auto">
				<div class="row">
					<button id="disconnectBtn" class="btn btn-danger">Disconnect</button>
				</div>
			</div>
		</div>
		<div class="row m-5">
			<div class="col-12">
				<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
					<div id="connectionTrackerPanel">
						<span class="font-weight-bold">Track your connection!</span>
					</div>
				</div>
			</div>
		</div>
	</div>
@section Scripts { 
<script>
	var client = new InTechSignalRClient();
</script>
}